<main role="main">
  <!-- Main jumbotron for front page -->
  <div class="jumbotron">
    <h1 class="display-3">Master of puppets</h1>
    <p class="lead">This platform allows you to create and use feature toggles!</p>
    <hr class="my-4">
    <div>
      <p>Check out the Api documentation</p>
      <button type="button" class="btn btn-success" routerLink="/documentation" routerLinkActive="true">Go to documentation</button>
    </div>
    <img style="height: 60vh;" src="/assets/puppet.png" alt="Puppet logo">
  </div>
</main>
